<div class="row">
  <div class="col">
    <app-search-form
      [query]="queryChanges | async"
      (search)="search($event)"
    ></app-search-form>

    <p>Found {{(resultsChanges | async)?.length}} results</p>
  </div>
</div>

<div class="row">
  <div class="col">
    <p class="alert alert-danger" *ngIf="message">{{message}}</p>

    <ng-container *ngIf="resultsChanges | async as results">
      <p>Found {{results.length}} results</p>

      <app-results-grid [results]="results"></app-results-grid>
    </ng-container>
  </div>
</div>
