<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">

    <a class="navbar-brand" routerLinkActive="active placki" routerLink="/">{{ title }}</a>

    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!-- <li class="nav-item">
          <a class="nav-link" routerLinkActive="active placki" routerLink="/music" [routerLinkActiveOptions]="{exact:true}">Search</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active placki" routerLink="/music/search">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active placki" routerLink="/playlists">Playlists</a>
        </li>
      </ul>
      <app-clock class="ms-auto navbar-text"></app-clock>
    </div>
  </div>
</nav>

