<form
  #formRef="ngForm"
  (ngSubmit)="submitSearch()"
  [formGroup]="queryForm"
  class="mb-3"
>
  <div class="input-group">
    <input
      type="text"
      class="form-control"
      placeholder="Search"
      formControlName="query"
    />
    <button class="btn btn-outline-secondary" type="submit">Search</button>
  </div>
  <app-form-messages [field]="queryForm.get('query')"></app-form-messages>
  
  <!-- <ng-container *ngIf="queryForm.get('query') as field">
    <ng-container *ngIf="field.touched || field.dirty || formRef.submitted">
      <p class="text-danger" *ngIf="field.hasError('required')">
        This field is required
      </p>
      <p class="text-danger" *ngIf="field.getError('minlength') as error">
        Minimal length is "{{ error.requiredLength }}"
      </p>
    </ng-container>
  </ng-container> -->
</form>
