<!-- emmet / zen coding -->

<!-- div.container>.row>.col>h1.display-5{MusicApp} -->
<app-nav-bar></app-nav-bar>


<div class="container mt-3">
  <div class="row">
    <div class="col">


        <router-outlet></router-outlet>
        <!-- <app-login></app-login> -->
    </div>
  </div>
</div>
