<!-- http://localhost:4200/music/albums?id=5Tby0U5VndHW0SomYO7Id7 -->

<ng-container *ngIf=" albumChange | async as album; else loading">
  <div class="row">
    <div class="col">
      <h1>{{album.name}}</h1>
      <!-- <div class="text-muted">{{ album_id | async }}</div> -->
      <div class="text-muted">{{ album.id }}</div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-album-card [album]="album"></app-album-card>
    </div>

    <div class="col">
      <dl>
        <dt>Name:</dt>
        <dd>{{album.name}}</dd>

        <dt>Artist Name:</dt>
        <dd>{{album.artists[0].name}}</dd>

        <dt>Release date:</dt>
        <dd>album release_date</dd>
      </dl>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div class="text-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-template>
